*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  /* 1 rem = 10px */
  font-size: 62.5%;
}
body {
  line-height: 1.6;
  font-family: sans-serif;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 33.33vw);
  grid-template-rows: 6vh 80vh;
  background-color: red;
}
.nav-wrapper {
  background-color: purple;
  grid-row: 1 / 2;
}
.card-content {
  grid-row: 2/-1;
  background-color: yellow;
}
