*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  /* 1 rem = 10px */
  font-size: 62.5%;
}
body {
  line-height: 1.6;
  font-family: sans-serif;
}
.container {
  display: grid;
  grid-template-rows: 20vh 66.5vh;
  grid-template-columns: repeat(3 1fr);
  background-color: red;
}
.nav-wrapper {
  display: flex;
  justify-content: center;
  background-color: teal;
}
a:last-child {
  margin-left: 8rem;
}
.card {
  background-color: yellow;
}
.totals {
  background-color: purple;
}
